* {
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  height: 80px;
  background-color: #CF2B2B;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header-margin {
  margin: 10px 20px;
}

.nome-restaurante {
  font-size: 44px;
  font-family: 'Righteous', cursive;
  color: #ffffff;
}

.slogan-restaurante {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.categorias {
  font-family: 'Righteous', cursive;
  font-size: 26px;
  color: #333333;
  margin-bottom: 10px;
}

.container {
  margin: 0px 20px;
  margin-top: 110px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.conteudo {
  margin-bottom: 30px;
}

.row-caixas {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  white-space: nowrap;
}

.caixa {
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  margin: 5px 20px 5px 0px;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  width: 250px;
  padding: 15px;

}

.caixa>div {
margin-bottom: 5px;
margin-top: 5px;
}

.caixa-titulo {
  color: #333333;
  font-size: 16px;
  font-weight: bold;

}

.caixa-subtitulo {
  color: #A6A6A6;
  font-size: 15px;
}

.caixa-preco {
  color: #000000;
  font-size: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  height: 80px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer button {
  background-color: #CBCBCB;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  height: 60px;
  margin: 0 30px;
}

.footer button p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin: 0 50px
}